SECRET_KEY=replace_me
DATABASE_URL=postgresql://user:password@localhost:5432/messenger_db

# Sessions
SESSION_TYPE=filesystem
SESSION_REDIS_URL=redis://redis:6379/1

# Service info
SERVICE_NAME=messenger-backend
APP_VERSION=dev

# Gunicorn
WEB_CONCURRENCY=2
PORT=5000