# ========================
# Python
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ========================
# Virtual environment
# ========================
.venv/
venv/

# ========================
# Environment variables
# ========================
.env

# ========================
# Flask instance folder
# ========================
instance/

# ========================
# SQLite (если вдруг используешь)
# ========================
*.sqlite3

# ========================
# VS Code
# ========================
.vscode/

# ========================
# PyCharm
# ========================
.idea/

# ========================
# OS files
# ========================
.DS_Store
Thumbs.db